@model IEnumerable<MvcMeetcha.Models.Meetup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupVenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetupImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupVenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupType.MeetupTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MeetupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MeetupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MeetupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
